.navbar-text {
  color: #4a5568;
  font-style: italic;
  margin-left: 70px;
  font-size: 6rem;
}

.navbar-custom-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 70px;
  margin-top: 30px;
  gap: 20px;
  font-size: 1.5rem;
}

.homepage-slide-bg {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage-slide-frame-headline {
  font-size: 4rem;
  color: white;
  font-weight: 500;
  width: 80%;
  line-height: 5rem;
  margin-left: 50px;
}

.homepage-slide-frame-text {
  font-size: 1rem;
  color: rgb(255, 255, 255);
  width: 70%;
  margin-left: 50px;
}

.homepage-slide-shop-box {
  border: 1px solid;
  margin-left: 50px;
  margin-top: 1rem;
  border-color: rgb(255, 255, 255);
  color: #ffffff;
  transition-duration: 300ms;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.product-details-description {
  width: 80%;
  color: #4a5568;
}

.product-details-right-box {
  display: flex;
  flex-direction: column;
  margin-top: 0.75rem;
  margin-right: 11%;
  gap: 10px;
}

.product-details-image {
  display: flex;
  justify-content: flex-end;
  width: 200%;
  margin-right: 15%;
}

.login {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 80vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #f8f9fd;
}

input[type="login-text"] {
  height: 25px;
  padding-left: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="login-password"] {
  height: 25px;
  padding-left: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="login-submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 20px;
}

input[type="login-submit"]:hover {
  background: #6cf0c2;
}

.login-button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 20px;
}

.login-button-container:hover {
  background: #6cf0c2;
}

.login-form {
  background-color: rgb(247, 247, 247);
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-list-container {
  display: flex;
}

.login-error {
  color: red;
  font-size: 12px;
}

.login-title {
  font-size: 25px;
  margin-bottom: 20px;
}

.login-input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.login-text-for-signup {
  font-size: 17px;
  margin-top: 10px;
  font-family: Times New Roman;
  color: rgb(0, 0, 0);
}

.login-signup-link {
  color: #01d28e;
  font-size: 17px;
  font-family: Times New Roman;
}

input[type="admin-add-service-name"],
input[type="admin-add-service-category"],
input[type="admin-add-service-price"] {
  height: 35px;
  padding-left: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="admin-add-service-description"] {
  height: 100px;
  padding-left: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}


.admin-add-service-input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.image-upload-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.upload-label {
  display: block;
  padding: 10px 20px;
  background-color: #eaeaea;
  color: #333;
  cursor: pointer;
}

.upload-label:hover {
  background-color: #ccc;
}

.registrationService-button-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 2px solid #01d28e;
  color: #fff;
  padding: 10px;
}

.registrationService-button-container:hover {
  background: #6cf0c2;
}
