@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial:wght@400&display=swap");
@import "~leaflet/dist/leaflet.css";
@tailwind base;
@tailwind components;
@tailwind utilities;



.menu-icon-enter {
  transform: scale(0.9);
  opacity: 0;
}

.menu-icon-enter-active {
  transform: scale(1);
  opacity: 1;
  transition: transform 200ms, opacity 200ms;
}

.menu-icon-exit {
  transform: scale(1);
  opacity: 1;
}

.menu-icon-exit-active {
  transform: scale(0.9);
  opacity: 0;
  transition: transform 200ms, opacity 200ms;
}

.button-link {
  text-decoration: none;
  color: #13194c;
  border-radius: 0.25rem;
  transition: background-color 0.3s, color 0.3s;
}

.button-link:hover {
  color: white;
  background-color: #13194c;
  border-color: white;
}

.red-svg {
  fill: red;
}

.navbar-text {
  color: #4a5568;
  font-style: italic;
  margin-left: 70px;
  font-size: 6rem;
}

.navbar-custom-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 70px;
  margin-top: 30px;
  gap: 20px;
  font-size: 1.5rem;
}

.homepage-slide-bg {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage-slide-frame-headline {
  font-size: 4rem;
  color: white;
  font-weight: 500;
  width: 80%;
  line-height: 5rem;
  margin-left: 50px;
}

.homepage-slide-frame-text {
  font-size: 1rem;
  color: rgb(255, 255, 255);
  width: 70%;
  margin-left: 50px;
}

.homepage-slide-shop-box {
  border: 1px solid;
  margin-left: 50px;
  margin-top: 1rem;
  border-color: rgb(255, 255, 255);
  color: #ffffff;
  transition-duration: 300ms;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 2rem;
  padding-right: 2rem;
}


.product-details-description {
  width: 80%;
  color: #4a5568;
}

.product-details-right-box {
  display: flex;
  flex-direction: column;
  margin-top: 0.75rem;
  margin-right: 11%;
  gap: 10px;
}

.product-details-image {
  display: flex;
  justify-content: flex-end;
  width: 200%;
  margin-right: 15%;
}

.login {
  font-family: 'Roboto';
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 80vh;
  background-color: #f8f9fd;
}

input[type="login-text"] {
  height: 35px;
  padding: 20px 10px 20px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 13px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

input[type="login-text"]:focus {
  border-color: #01d28e; /* Change border color on focus */
}

/* Submit button styles */
input[type="login-submit"] {
  margin-top: 20px;
  cursor: pointer;
  font-size: 18px;
  background:  #01b277;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input[type="login-submit"]:hover {
  background: #6cf0c2;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.login-button-container {
  font-family: 'Roboto';
  display: flex;
  justify-content: center;
  margin-top: 20px;
  cursor: pointer;
  font-size: 15px;
  background: #019866;
  border: 1px solid #01d28e;
  border-radius: 20px;
  color: #fff;
  padding: 10px 20px;
}

.login-button-container:hover {
  background: #01cb88;
}

.login-form {
  font-family: 'Roboto';
  background-color: rgb(247, 247, 247);
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-list-container {
  display: flex;
}

.login-error {
  color: red;
  font-size: 12px;
}

.login-title {
  font-family: 'Roboto';
  font-size: 25px;
  margin-bottom: 20px;
}

.login-input-container {
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
  padding: 10px 0px;
}

.login-text-for-signup {
  font-family: 'Roboto';
  font-size: 17px;
  margin-top: 10px;
  font-family: Times New Roman;
  color: rgb(0, 0, 0);
}

.login-signup-link {
  font-family: 'Roboto';
  color: #01d28e;
  font-size: 17px;
  font-family: Times New Roman;
}

input[type="admin-add-service-name"],
input[type="admin-add-service-category"],
input[type="admin-add-service-price"] {
  height: 35px;
  padding-left: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="admin-add-service-description"] {
  height: 100px;
  padding-left: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}


.admin-add-service-input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.image-upload-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.upload-label {
  display: block;
  padding: 10px 20px;
  background-color: #eaeaea;
  color: #333;
  cursor: pointer;
}

.upload-label:hover {
  background-color: #ccc;
}

.registrationService-button-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 2px solid #01d28e;
  color: #fff;
  padding: 10px;
}

.registrationService-button-container:hover {
  background: #6cf0c2;
}


.nav-link {
  transition: color 0.3s ease, border-color 0.3s ease; /* Transition for text color and border-color over 0.3 seconds */
  border: 1px solid transparent; /* Invisible border */
  font-family: 'Roboto';
  font-size: 19px;
  color: #262626;
  text-decoration: none;
  padding: 10px 5px;
  margin: 0 auto;
  text-align: center;
  position: relative; /* Required for pseudo-element */
}

.nav-link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%; /* Start from the middle */
  width: 0; /* Initially no width */
  height: 2px; /* Adjust the thickness of the underline */
  background-color: #0066cc; /* Color for the underline */
  opacity: 0; /* Initially hidden */
  transition: width 0.5s ease, opacity 0.5s ease; /* Transition for the underline effect */
  transform: translateX(-50%); /* Center the underline */
}

.nav-link:hover, .nav-link.active:hover {
  color: #0066cc; /* Black text color on hover */
}

.nav-link:hover::after, .nav-link.active:hover::after {
  width: 100%; /* Expand the underline to the edges on hover */
  opacity: 1; /* Show the underline on hover */
}

.nav-link.active {
  color: #000; /* Black text color when active */
}

.input-style {
  font-family: inherit;
  padding: 0.75rem;
  border: 1px solid #000;
  border-radius: 0.25rem;
  outline: none;
  width: 100%;
  transition: border-color 0.2s ease-in-out;
}

.input-style:focus {
  border-color: #000;
}

/* Additional CSS to hide password characters */
.password-input {
  -webkit-text-security: disc;
  background-color: white;
  color: black;
  /* You can adjust colors to match your design */
}